.navigation {
  height: 52px;
  padding: 0;
  width: 100%;
  &__content {
    height: 52px;
    padding: 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: #c3c3c6;
  }
  &__text {
    // color: #c3c3c6;
    // color: green;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    height: 24px;
    width: 100%;
    border: none;
    outline: 0 !important;
    outline-offset: 0;
    margin-left: 8px;
    // background-color: #c3c3c6;
  }
  &__text::placeholder {
    color: #c3c3c6;
    // color: rgba(0, 0, 0, 0.54);
  }
}

.positions {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scrollbar-width: thin;
  //   scrollbar-color: #c3c3c6 #f7f7f8;
  color: #97979b;
}

.filterPosition {
  padding: 8px 12px;
  text-decoration: none;

  color: #97979b;
  background-color: #f7f7f8;
  border: none;
}
.activeFilter {
  color: #050510;
  border-bottom: 2px solid #6534ff;
}

.separatorLine {
  background-color: #c3c3c6;
  width: 100%;
  height: 0.33px;
  margin-top: -8px;
  z-index: 10;
}
