* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.block {
  height: 44px;
  border: dashed aqua 1px;
  &:hover {
    border: solid red 1px;
  }
}

.refresh {
  border: dashed aqua 1px;
  width: 375px;
  margin: auto;
}

.header {
  height: 52px;
  padding: 6px 16px;
  border: dashed aqua 1px;
}
.content {
  border: dashed blue 1px;
  height: 40px;
  padding: 8px 12px;
}
.user {
  height: 80px;
  border: solid blueviolet 1px;
  display: flex;
}

.list {
  list-style-type: none;
  border: solid blueviolet 1px;
  padding: 0;
}

.avatar {
  height: 84px;
  width: 88px;
}

.userName {
  //styleName: Headline Medium;
  padding: 3px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.userPosition {
  //styleName: Caption 1 Regular;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.userInfo {
  padding: 7px;
}

.positions {
  display: flex;
  align-items: center;
}
.filterPosition {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
}
